### print() function

In [3]:
#For Fast IO
from sys import stdout
print("Hola Guys")
#For Fast Output
stdout.write("Hola Guys Faster")

Hola Guys
Hola Guys Faster

### Comments

### Variables

In [4]:
# Using datatypes
a=True
b=0
c='0'
d=4.4
print(a)
print(b)
print(c)
print(d)

True
0
0
4.4

### Assignment

In [6]:
num1 = num2 = num3 = 4
print("num1=",num1,"  ","num2=",num2,"  ","num3=",num3)
num1,num2,num3 = 3,5,5.7
print("num1=",num1,"  ","num2=",num2,"  ","num3=",num3)

num1= 4    num2= 4    num3= 4
num1= 3    num2= 5    num3= 5.7

### Taking input

In [7]:
firstname = input("Enter your first name: ")
lastname = input("Enter your second name: ")
semester = input("Enter your semester: ")
roll_no = int(input("Enter roll no"))

Enter your first name: Anand
Enter your second name: Barhanpurkar
Enter your semester: 6th
Enter roll no22

In [0]:
# run below code
age = input("Enter your age: ")
age = int(age)+5
print(age)

Enter your age: 17
22

### Write a program in Python for data type conversion from: 
- int to string
- int to float
- string to int
- string to float
- float to int
- float to string

In [8]:
a=18
print(str(a))
print(float(a))

b='2020'
print(int(b))
print(float(b))

c=20.19
print(int(c))
print(str(c))

18
18.0
2020
2020.0
20
20.19

### Task1: 
#### WAP to display your infomation like (full name, branch, university name, age, 12th %, hobbies). Store each value into some meaningful variable.  the ouptput of the program should look like

In [9]:

full_name=input("Enter your full name: ")
branch=input("Enter your branch: ")
university=input("Enter your university: ")
age=input("Enter your age: ")
twelth_per=input("Enter your 12%: ")
hobbies=input("Enter your hobbies: ")
print(full_name)
print(branch)
print(university)
print(age)
print(twelth_per)
print(hobbies)

Enter your full name: Anand
Enter your branch: CSE
Enter your university: RGPV
Enter your age: 20
Enter your 12%: 71
Enter your hobbies: Playing Badminton
Anand
CSE
RGPV
20
71
Playing Badminton

### Commmonly used functions 
- round(n)
- format(n, '0.2f')
- format(n,',') # put a comma on thousand place
- format(n,'b') # print binary of the number, 'o', 'x'

- eval(expression)
- chr(n)
- ord(character)
- bin(n), oct(n), hex(n)

- #### function on string/character data
- isdigit()
- isalpha()
- isspace()
- numeric()
- ljust(width)
- rjust(width)
- cjust(width)

In [18]:
# Python3 program to demonstarte 
# the str.format() method 
  
# using format option in a simple string 
print ("{}, A computer science portal for acropolis."
                        .format("acropolis")) 
  
# using format option for a 
# value stored in a variable 
str = "This article is written in {}"
print (str.format("Python")) 
  
# formatting a string using a numeric constant 
print ("Hello, I am {} years old !".format(20))  


x=68
# print character corresponding to x 
print(chr(x))
char='D'
# print number corresponding to char
print(ord(char))

print('ACROPOLIS'*10)

for i in range(5):
    print("*"*i)

# new pattern program
print("\n")
for i in range(4,0,-1):
  print("*"*i)    

for i in range(1,6):
  print(" "*(6-i),"*"*i) 

a, b, c = 10, 20, 30
print(a,b,c,sep=':',end=',')

for i in range(1,5):
    print(" "*(5-i),"*"*i)

word = 'PYTHONG'
a,b,c,d,e,f,g = word
print(a,b,c,d,e,f,g)

x = 5 
y = 10
print('The value of x is {} and y is {}'.format(x,y))

print('I like {0} and {1}'.format('ice cream','chocolate'))

print('I like {1} and {0}'.format('ice cream','chocolate'))

print('Hello {name}, {greeting}'.format(greeting = 'Good morning', name = 'Sachin !'))

acropolis, A computer science portal for acropolis.
This article is written in Python
Hello, I am 20 years old !
D
68
ACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLISACROPOLIS

*
**
***
****


****
***
**
*
      *
     **
    ***
   ****
  *****
10:20:30,     *
    **
   ***
  ****
P Y T H O N G
The value of x is 5 and y is 10
I like ice cream and chocolate
I like chocolate and ice cream
Hello Sachin !, Good morning

### Task2
#### Raman likes tea but he has coffee. Riya likes coffee but has tea. Write a program in python so that both can enjoy what they like.

In [0]:
# write your code after this line
raman="Coffe"
riya="Tea"
raman,riya=riya,raman
print(f"Raman likes {raman} and Riya likes {riya}")

Raman likes Tea and Riya likes Coffe

### Task3
Write a program for following
- Input: 'Python'
- Output: 642

In [0]:
e,f,g,h,i,j='Python'
s=ord(e)+ord(f)+ord(g)+ord(h)+ord(i)+ord(j)
print(s)

642

# Working with math, calendar, random, datetime

In [0]:
import math
print(math.sqrt(25))
print(math.floor(-10.8))
print (math.ceil(10.9))
math.pi

3.0
10
11

3.141592653589793

In [0]:
import random
x = random.random() # generate any random number between 0 and 1
print("x = ", x)

y = random.randint(5,20)# generate any random number between 5 and 20
print("y = ", y)

x =  0.2735828619826325
y =  15

In [14]:
import datetime

date = datetime.datetime.now().date() # YYYY-MM-DD format
year = datetime.datetime.now().year
month = datetime.datetime.now().month
day = datetime.datetime.now().day

print(date)
print(year)
print(month)
print(day)

2020-01-16
2020
1
16

In [15]:
import calendar

year = int(input("Enter Year : "))
month = int(input("Enter the Month : "))

print(calendar.month(year, month))

Enter Year : 2020
Enter the Month : 1
    January 2020
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31